/* Первая секция */

.find__wrapper {
    margin: 0 auto;
    width: 85%;
}

.find__text {
    color: var(--mainColor);
}
.find__header {
    font-size: 70px;
    max-width: 60%;
    color: var(--mainColor);
    margin-bottom: 250px;
}

.decoration__block {
    display: block;
    height: 260px;
    width: 100vh;
    border: 8px solid var(--mainColor);
    margin-bottom: 30px;
}

.decoration__block img {
    position: relative;
    top: -115%;
    left: -5%;
}

.find__text__wrapper {
    position: relative;
    max-width: 30%;
    bottom: 207%;
    left: 67%;
}

.find__text__wrapper:first-child {
    font-size: 20px;
}

.find__text__wrapper:last-child {
    font-size: 25px;
}

.decor__squares {
    display: flex;
    position: relative;
    left: 65%;
    top: -30%;
}

.next__decor__squares {
    display: flex;
    position: relative;
    left: 65%;
    top: -25%;
}

.next__decor__squares span {
    height: 15px;
    width: 15px;
    background-color: var(--mainColor);
    margin-left: 15px;
}

.decor__squares span {
    height: 15px;
    width: 15px;
    background-color: var(--mainColor);
    margin-left: 15px;
}

/* Форма регистрации */

.reg {
    display: flex;
    flex-direction: column;
    color: var(--mainColor);
    margin: 0 auto;
}

.registration__field {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    color: var(--mainColor);
}

.error {
    color: red;
}

/* Делаем посты */

.send__posts {
    margin: 50px 0;
}

.post-wrapper {
    display: flex;
    margin: 0 auto;
    color: var(--mainColor);
    width: 85%;
}

.post-form {
    display: flex;
    flex-direction: column;
}

.name-and-author {
    display: flex;
}

.name-of-post {
    display: flex;
    flex-direction: column;
    margin: 0 20px 10px 0;
}

.author-of-post {
    display: flex;
    flex-direction: column;
}

.name-of-post_input {
    outline: none;
    border: none;
    border-radius: 3px;
    width: 200px;
    height: 30px;
}

.name-of-post_input[placeholder] {
    font-family: inherit;
    padding-left: 5px;
}

.author-of-post_input {
    outline: none;
    border: none;
    border-radius: 3px;
    width: 200px;
    height: 30px;
}

.author-of-post_input[placeholder] {
    font-family: inherit;
    padding-left: 5px;
}

.post-textarea {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.post-textarea_inner {
    resize: none;
    outline: none;
    border: none;
    border-radius: 3px;
}

.post-textarea_inner[placeholder] {
    font-family: inherit;
    padding: 5px 0 0 3px;
}

.button-wrapper {
    display: flex;
    justify-content: flex-end;
}

.send-button {
    font-family: inherit;
    display: block;
    border: none;
    border-radius: 3px;
    padding: 15px 15px;
    background-color: var(--mainColor);
}

.send-button:hover {
    transition: all 0.05s ease-in-out;
    color: var(--mainColor);
    background-color: var(--urozhayColor);
}

/* Ответы с формы */

.post-background_wrapper {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    color: var(--mainColor);
    width: 85%;
}

.post-background {
    width: fit-content;
    min-width: 500px;
    height: fit-content;
    min-height: 100px;
    border-radius: 3px;
    background-color: rgb(146, 192, 160);
    margin-top: 20px;
}

.post-header {
    padding: 20px 0 10px 10px;
}

.post-text {
    padding: 10px 20px 10px 10px;
}

.post-date-and-name {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 20px 10px;
    font-size: 20px;
}