@media (max-width: 1440px) {
    
    /* Секция с первым игроком */

    .first__player__wrapper {
        display: flex;
        margin: 0 auto;
        padding: 30px 10px 30px 10px;
        width: 100%;
    }

    .first__player-description {
        margin: 180px 20px 0 10px;
    }

    .first__player__content {
        padding: 0;
    }

    .first__player-inner {
        margin: 0;
    }
    
    .first__player-inner h2 {
        font-size: 32px;
    }
    
    .first__player-header {
        font-size: 18px;

    }
    
    .first__player-footer {
        font-size: 27px;
    }
    
    .fpreverse__text {
        display: none;
    }
    
    .first__player-description img {
        min-width: 18vw;
        min-height: 50vh;
    }
    
    .first__player-description {
        margin: 50px 0 0 0;
    }
    
    .first__player-text > p {
        font-size: 12px;
    }
    
    .first__player-text > h2 {
        font-size: 24px;
    }

    /* Секция со вторым игроком */

    .second__player__wrapper {
        display: flex;
        margin: 0 auto;
        padding: 30px 10px 80px 10px;
        width: 100%;
    }
    .second__player__content {
        margin-left: 450px;
    }

    .second__player-inner h2 {
        font-size: 32px;
    }
    
    .second__player-header {
        font-size: 18px;

    }
    
    .second__player-footer {
        font-size: 27px;
    }

    .second__player-card {
        position: absolute;
        left: 15%;
    }
    
    .second__player-description img {
        position: relative;
        margin: 0;
        transform: translateX(-35%);
        min-width: 100%;
        min-height: 100%;
    }
    
    .second__player-description {
        margin: 0px 0 0 0;
    }

    .second__player-text {
        position: absolute;
        bottom: -6%;
        left: -7%;
    }
    
    .second__player-text > p {
        font-size: 12px;
    }
    
    .second__player-text > h2 {
        font-size: 24px;
    }

    .second__player__wrapper {
        display: flex;
        max-width: 100%;
        margin: 30px 30px 30px 30px;
    }
    
}

@media (max-width: 768px) {

    /* Секция с первым игроком */

    .first__player__wrapper {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        padding: 30px 10px 30px 10px;
        width: 100%;
    }

    .first__player-description {
        margin: 180px 20px 0 10px;
    }

    .first__player__content {
        padding: 0;
    }

    .first__player-inner {
        margin: 0;
    }
    
    .first__player-inner h2 {
        font-size: 26px;
    }
    
    .first__player-header {
        font-size: 14px;

    }
    
    .first__player-footer {
        font-size: 17px;
    }
    
    .fpreverse__text {
        display: none;
    }
    
    .first__player-description img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    
    .first__player-description {
        margin: 20px 0 0 0;
    }

    .first__player-card {

    }
    
    .first__player-text > p {
        font-size: 12px;
    }
    
    .first__player-text > h2 {
        font-size: 24px;
    }

    /* Секция со вторым игроком */

    .second__player__wrapper {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        padding: 30px 10px 80px 10px;
        width: 100%;
    }
    .second__player__content {
        margin-left: 0;
    }

    .second__player-inner h2 {
        font-size: 26px
    }
    
    .second__player-header {
        font-size: 14px;

    }
    
    .second__player-footer {
        font-size: 17px;
    }

    .second__player-card {
        position: static;
        width: 300px;
    }
    
    .second__player-description img {
        position: relative;
        left: 35%;
        margin: 0;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    
    .second__player-description {
        display: flex;
        flex-direction: column;
    }

    .second__player-text {
        position: relative;
        margin: 0px 0 0px 10px;
    }
    
    .second__player-text > p {
        font-size: 12px;
    }
    
    .second__player-text > h2 {
        font-size: 24px;
    }
    
}
