@media (max-width: 1440px) {

    /* Основная страница */

    .wrapper {
        max-width: 1300px;
    }

    main {
        margin-top: 90px;
    }

    .btn__description {
        margin-top: 50px;
    }

    /* Слайдер */

    .slider__section {
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .button {
        top: 35%;
    }

    /* История */

    .about__wrapper {
        margin: 0 auto;
        max-width: 1300px;
    }

    .about__header > h1 {
        margin-top: 0;
    }

    .button__about {
        margin: 30px 0;
    }

    /* Капитан */

    .captain__says-wrapper {
        max-width: 1250px;
    }

    .captain__says-content {
        padding: 50px 100px 0 50px;
    }

    .captain__says-header { 
        font-size: 15px;
    }
    
    .captain__says-footer {
        font-size: 22px;
        max-width: 600px;
    }
    
    .reverse__text {
        max-width: 50%;
        font-size: 86px;
    }

    .button__captain {
        max-width: 200px;
        margin-top: 95px;
    }

    /* Подвал */

    .footer__wrapper {
        max-width: 1300px;
    }
}

/* ------------------------------------------ */

@media (max-width: 767px) {

    /* Основная страница */

    .wrapper {
        max-width: 700px;
    }

    .btn {
        font-size: 13px;
    }

    .navLink {
        font-size: 17px;
        padding: 0 10px;
    }

    .btn__description {
        margin-top: 10px;
        width: auto;
        padding: 15px;
    }

    .description {
        margin-top: 10px;
        font-size: 17px;
        width: 280px;
    }

    /* Слайдер */

    .slider__section {
        margin-top: 50px;
        margin-bottom: 80px;
    }

    .slider__prev {
        right: 90%;
    }
    
    .slider__next {
        left: 90%;
    }

    .button {
        top: 23%;
    }

    /* История */

    .about__wrapper {
        margin: 0 auto;
        max-width: 700px;
    }

    .about__header > h1 {
        font-size: 48px;
    }

    .about__description {
        font-size: 20px;
    }

    .button__about {
        margin: 20px 0;
        padding: 10px;
        max-width: 120px;
        width: auto;
    }

    .about__background {
        background-image: url(/img/Background2.png);
        background-color: var(--secondColor);
        background-size: 116%;
        max-width: 1600px;
        min-width: 99vw;
        min-height: 1vmax;
        z-index: -2;
        background-repeat: no-repeat;
    }

    /* Капитан */

    .captain__says {
        margin-top: 30px;
        margin-bottom: 0;
        height: 900px;
    }

    .captain__says-wrapper {
        max-width: 700px;
        margin-top: 50px;
    }

    .captain__says-content {
        padding: 10px 20px 0 10px;
        height: 90%;
    }

    .captain__says-header { 
        font-size: 10px;
    }
    
    .captain__says-footer {
        font-size: 17px;
        max-width: 600px;
    }
    
    .reverse__text {
        max-width: 17%;
        font-size: 76px;
    }

    .button__captain {
        max-width: 200px;
        margin-top: 25px;
    }

    .captain__says-image {
        background: url(/img/Difrostt.png);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: 100% 10%;
        min-height: 450px;
        max-height: 650px;
        min-width: 170px;
        z-index: 2;
    }

    /* Подвал */

    .footer__wrapper {
        max-width: 700px;
    }
}

@media (max-width: 765px) {
    /* Основная страница */

    body {
        font-family: 'Manrope', sans-serif;
        font-family: 'Montserrat', sans-serif;
        background-color: var(--secondColor);
        background-image: url(/img/Background1.png);
        background-size: 250%;
        background-repeat: no-repeat;
    }

    .wrapper {
        max-width: 340px;
    }

    a > h1 {
        display: flex;
        text-align: center;
        margin-left: 15px;
        font-size: 23px;
        font-weight: 400;
    }

    .description__section {
        margin: 0 auto;
        justify-content: center;
    }

    .description__header {
        margin: 5px 0;
    }

    .btn {
        font-size: 13px;
    }

    main {
        margin-top: 20px;
    }

    .thebestclub {
        line-height: 210%;
    }

    .thebestclub > h1 {
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
        font-size: 58px;
    }

    .thebestclub > h2 {
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 26px;
    }

    .navLink {
        display: none;
    }

    .btn__description {
        margin: 30px auto;
        width: auto;
        padding: 15px;
    }

    .description {
        margin: 0 auto;
        text-align: center;
        margin-top: 10px;
        font-size: 17px;
        width: 280px;
    }

    /* Слайдер */

    .slider__section > h1 {
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 30px auto 30px auto;
        font-size: 58px;
        font-family: 'Manrope', sans-serif;
        font-weight: bolder;
        line-height: 100%;
        color: var(--mainColor);
    }

    .slider__section {
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .slider__prev {
        right: 90%;
    }
    
    .slider__next {
        left: 90%;
    }

    .button {
        top: 18%;
        font-size: 45px;
    }

    /* История */

    .about__wrapper {
        margin: 0 auto;
        max-width: 340px;
    }

    .about__header > h1 {
        margin: 0 auto;
        text-align: center;
        font-size: 58px;
    }

    .about__description {
        text-align: center;
        font-size: 17px;
    }

    .button__about {
        margin: 0 auto 30px auto;
        text-align: center;
        padding: 10px;
        max-width: 120px;
        width: auto;
    }

    .about__squares {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .about__squares-left span {
        width: 7.5px;
        height: 7.5px;
    }
    
    .about__squares-right span {
        width: 7.5px;
        height: 7.5px;
    }

    .about__background {
        background-image: url(/img/Background2.png);
        background-size: 335%;
        background-position: 60% 5%;
    }

    /* Капитан */

    .captain__says {
        margin-top: 30px;
        margin-bottom: 30px;
        height: 820px;
    }

    .captain__says-wrapper {
        flex-wrap: wrap;
        max-width: 340px;
        margin-top: 10px;
    }

    .captain__says-content {
        padding: 10px 20px 0 10px;
        height: 100%;
    }

    .captain__says-description {
        display: flex;
        margin-top: 20px;
    }

    .captain__says-text {
        margin-left: 10px;
    }

    .captain__says-text > p {
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-size: 12px;
        padding-bottom: 5px;
        opacity: 0.85;
    }
    
    .captain__says-text > h2 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 17px;
    }

    .captain__says-header { 
        font-size: 10px;
    }
    
    .captain__says-footer {
        font-size: 17px;
        max-width: 600px;
    }
    
    .reverse__text {
        max-width: 17%;
        font-size: 76px;
    }

    .button__captain {
        max-width: 200px;
        margin-top: 25px;
    }

    /* Подвал */

    .footer__wrapper {
        max-width: 340px;
    }

    .footer__content {
        flex-direction: column;
        text-align: center;
    }
}