* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --mainColor: #F9F9F9;
    --secondColor: #110F0F;
    --urozhayColor: #4b9834;
}

a {
    text-decoration: none;
    list-style: none;
    color: var(--mainColor);
}

li {
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Manrope', sans-serif;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--secondColor);
    background-image: url(/img/Background1.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.btn {
    background-color: transparent;
    color: var(--mainColor);
    font-size: 30px;
    padding: 30px;
    border: 2px solid var(--mainColor);
    cursor: pointer;
}

.wrapper {
    display: flex;
    margin: 0 auto;
    max-width: 1600px;
}

.description__section {
    display: flex;
    flex-direction: column;
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    width: 100%;
}

.navLink {
    color: var(--mainColor);
    padding: 0 20px;
}

header > a {
    display: flex;
    align-items: center;
}

a > h1 {
    margin-left: 15px;
    font-size: 30px;
    font-weight: 400;
}

main {
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    font-weight: 300;
}

.thebestclub {
    line-height: 410%;
}

.thebestclub > h1 {
    display: flex;
    font-size: 98px;
    font-family: 'Manrope', sans-serif;
    font-weight: bolder;
    line-height: 100%;
    color: var(--mainColor);
}

.thebestclub > h2 {
    display: flex;
    font-size: 36px;
    color: var(--mainColor);
    font-weight: 200;
    font-family: 'Montserrat', sans-serif;
    margin-left: 6px;
}

nav {
    display: block;
    align-items: center;
}

nav > ul {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 26px;
}

li {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

li:first-child {
    margin-left: 0;
}

.description {
    display: flex;
    flex-direction: column;
    color: var(--mainColor);
    margin-top: 30px;
    font-weight: 200;
    font-size: 25px;
    width: 380px;
    text-align: right;
    text-shadow: 1px 1px var(--secondColor);
}

.content__container {
    display: flex;
    justify-content: end;
}

.button__container {
    display: flex;
    justify-content: right;
}

.btn__description {
    margin-top: 200px;
    width: 300px;
    justify-content: end;
}

/* Слайдеры */

.slider__wrapper {
    margin-top: 50px;
}

.slider__section {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin-top: 200px;
    background-color: var(--secondColor);
    color: var(--mainColor);
}

.slider__section > h1 {
    display: flex;
    margin: 0 auto;
    margin-bottom: 50px;
    font-size: 56px;
    font-family: 'Manrope', sans-serif;
    font-weight: bolder;
    line-height: 100%;
    color: var(--mainColor);
}

.slider {
    position: relative;
    min-width: 80%;
    max-width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

.slider__line {
    display: flex;
    transition: all ease 0.8s;
}

.button {
    position: absolute;
    display: inline;
    top: 50%;
    font-size: 90px;
    text-shadow: 2px 2px 5px var(--secondColor);
    z-index: 99;
    color: var(--mainColor);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.slider__prev {
    right: 95%;
}

.slider__next {
    left: 95%;
}

.second__slider {
    position: relative;
    min-height: 10%;
    min-width: 80%;
    max-width: 80%;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 100px;
}

.second__slider__line {
    display: flex;
    transition: all ease 0.8s;
}

.button {
    position: absolute;
    display: inline;
    top: 40%;
    font-size: 90px;
    text-shadow: 2px 2px 5px var(--secondColor);
    z-index: 99;
    color: var(--mainColor);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.second__slider__prev {
    right: 100%;
}

.second__slider__next {
    left: 100%;
}

/* История */

.wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1600px;
    overflow: hidden;
}

.about__background {
    background-image: url(/img/Background2.png);
    background-color: var(--mainColor);
    background-size: 100%;
    max-width: 1600px;
    min-width: 99vw;
    min-height: 100vh;
    z-index: -2;
    background-repeat: no-repeat;
}

.about__wrapper {
    display: flex;
    margin: 150px auto;
    max-width: 1400px;
}

.about__club {
    display: flex;
    flex-direction: column;
    color: var(--mainColor);
}

.about__header {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.about__header > h1 {
    color: var(--mainColor);
    margin-top: 60px;
    display: flex;
    font-size: 98px;
    font-family: 'Manrope', sans-serif;
    font-weight: bolder;
    line-height: 100%;
}

.about__description {
    color: var(--mainColor);
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 300;
}

.about__squares {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 30px;
}

.about__squares-left {
    display: flex;
}

.about__squares-right {
    display: flex;
}

.about__squares-left span {
    display: flex;
    width: 15px;
    height: 15px;
    margin-left: 15px;
    background-color: var(--mainColor);
}

.about__squares-left span:first-child {
    margin-left: 0;
}

.about__squares-right span {
    display: flex;
    flex-direction: row;
    width: 15px;
    height: 15px;
    margin-right: 15px;
    background-color: var(--mainColor);
}

.about__squares-right span:last-child {
    margin-right: 0;
}

.button__about {
    margin-top: 70px;
    max-width: 200px;
    padding: 15px;
    font-size: 25px;
}

/* Капитан */

.captain__says {
    display: flex;
    margin-top: 80px;
    margin-bottom: 80px;
}

.captain__says-wrapper {
    display: flex;
    margin: 0 auto;
    max-width: 1550px;
}

.captain__says-content {
    display: flex;
    padding: 80px 200px 80px 80px;
    border: 2px solid white;
    color: var(--mainColor);
}

.captain__says-inner {
    display: flex;
    flex-direction: column;
}

.captain__says-inner {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.captain__says-header {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 17px;
    padding-bottom: 5px;
    opacity: 0.85;
}

.captain__says-footer {
    font-weight: 300;
    font-size: 25px;
    opacity: 0.85;
    padding-top: 20px;
    max-width: 600px;
}

.reverse__text {
    writing-mode: vertical-lr;
    color: var(--mainColor);
    display: flex;
    font-size: 98px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    line-height: 100%;
}

.button__captain {
    max-width: 200px;
    padding: 15px;
    margin-top: 25px;
    font-size: 25px;
}

.captain__says-image {
    background: url(/img/Difrostt.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 100% 10%;
    min-height: 650px;
    min-width: 370px;
    z-index: 2;
}

.captain__says-description {
    color: var(--mainColor);
    margin-left: 50px;
}

.captain__says-description > p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 17px;
    padding-bottom: 5px;
    opacity: 0.85;
}

.captain__says-description > h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 37px;
}

/* Подвал */

footer {
    background-color: var(--mainColor);
}

.footer__wrapper {
    display: flex;
    margin: 0 auto;
    max-width: 1600px;
}

.footer__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    color: var(--secondColor);
}

.footer__icons {
    padding: 10px 0;
}

.footer__content p:last-child {
    margin-bottom: 10px;
}
@media (max-width: 360px) {
}