<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="msapplication-TileColor" content="#4b9834">
    <meta name="theme-color" content="#4b9834">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"
    />
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;500;700;800&family=Montserrat:wght@200;300;400;500;600&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon//favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon//favicon-16x16.png">
    <link rel="manifest" href="favicon//site.webmanifest">
    <link rel="mask-icon" href="favicon//safari-pinned-tab.svg" color="#4b9834">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/about/about.css">
    <link rel="stylesheet" href="/css/about/about-mq.css">
    <link rel="stylesheet" href="/css/headerandfooter/headerandfooter.css">
    <link rel="stylesheet" href="/css/headerandfooter/headerandfooter-mq.css">
    <title>VFC Urozhay official page | <%= title %></title>
</head>
<body>
    <%- include('./components/header.ejs') %>
    <main>
    <section class="first__player">
        <div class="first__player__wrapper">
                <div class="first__player__content">
                    <h1 class="fpreverse__text">В этом сезоне</h1>
                    <article class="first__player-inner">
                    <p class="first__player-header" data-aos="fade-right" data-aos-duration="1700">Дмитрий «Difrostt» Алексеев:</p>
                    <h2 data-aos="fade-right" data-aos-duration="2000">Второе пришествие «овощных»</h2>
                    <p class="first__player-footer" data-aos="fade-right" data-aos-duration="1700">Клуб VFC Urozhay начал свой путь еще в 18 году, на тот момент это была FIFA 19. В первом же сезоне боролись за золотые медали, когда на клуб никто не ставил, более того пророчили борьбу за выживание. Звучит смешно, особенно когда с третьего дивизиона никто не вылетал. Планы на золото потерпели неудачу, когда сделали идиотский перерыв на новогодние праздники, причем было время доиграть. На оставшиеся игры собраться и найти свою игру у нас к сожалению не получилось, как итог всего лишь серебро 3 дивизиона.
                        Сейчас мы собрались вновь под знаменами клуба, конечно в отличии от 2018 года состав изменился. Но и сейчас у нас дружный и крепкий коллектив с который можно ставить самые высокие цели. Как решили участвовать в турнире? Да как-то все звезды сложились, многие бывшие игроки были свободны от своих клубов под конец FIFA 20 и все были не против вновь собраться.
                    </p>
                    </div>
                </article>
                <div class="first__player-card">
                <div class="first__player-description">
                    <img src="/img/Difrostt2.png" alt="Дмитрий «Difrostt»" data-aos="fade-in" data-aos-duration="2000">
                    <div class="first__player-text" data-aos="fade-in" data-aos-duration="3000">
                    <p>Капитан</p>
                    <h2>Дмитрий<br/>«Difrostt»</h2>
                </div>
            </div>
        </div>
            </div>
    </section>
    <section class="second__player">
        <div class="second__player__wrapper">
            <div class="second__player__content">
                <article class="second__player-inner">
                <p class="second__player-header" data-aos="fade-left" data-aos-duration="2000">Андрей «MuGeJI» Полубояринов:</p>
                <h2 data-aos="fade-left" data-aos-duration="2000">О задачах на 25-й сезон</h2>
                <p class="second__player-footer" data-aos="fade-left" data-aos-duration="2000">Задача на сезон? Задача на сезон простая - получить удовольствие от турнира. Результат какой бы он ни был, давить на нас точно не будет. Будем двигаться медленными шагами, от матча к матчу, от победы к победе, а там видно будет. Все участники второго дивизиона имеют крепкие коллективы, совершенно проходных команд, как в прошлом сезоне, я уже не вижу, многие усилились. Конечно, бороться за медали будет 4-5 клубов от силы, но определить их я пока не решусь, покажет игра и сезон. Принципиальных матчей у нас ни с кем нет, все соперники для нас равны, мы всех максимально уважаем. Вероятно, они ещё появяться со временем. Аппетит приходит во время еды. Кого считаете главными фаворитами? Таких пока не вижу. Мы будем сражаться как настоящие гладиаторы и покажем всё наше сверхмарстерство и способности.
                </p>
                <div class="second__player-card">
                    <div class="second__player-description" data-aos="fade-right" data-aos-duration="2000">
                        <img src="/img/astrodominator.png" alt="Андрей «MuGeJI»">
                        <div class="second__player-text">
                        <p>Зам. капитана</p>
                        <h2>Андрей<br/>«MuGeJI»</h2>
                    </div>
                </div>
            </div>
                </div>
            </article>
        </div>
    </section>
    <section class="overall">
        <div class="wrapper__overall">
            <div class="decoration__wrapper">
            <div class="decoration__block" data-aos="fade-right" data-aos-duration="1700"></div>
        
            <div class="content__overall" data-aos="fade-right" data-aos-duration="1700" data-aos-delay="300">
        <h2>Наши команды:</h2>
        <h1>Очередная какая-то дикая кулстори прямо здесь</h1>
        <div class="heart__decoration__wrapper">
        <img class="heart__overall" src="/img/c087908eefef80fa467639e3a08addde.png" alt="Лайк"><p>72 понравилось</p>
    </div>
    </div>
    </div>
</div>
    </section>
    <section class="explanation">
        <div class="explanation__wrapper">
            <div class="explanation__content">
                <div class="decoration" data-aos="fade-right" data-aos-duration="1700">
                    <img src="/img/About/Random.png" alt="Рандом" data-aos="fade-right" data-aos-delay="500" data-aos-duration="1700">
                    <div class="decoration__text">
                    <h2 class="exp decor-header"><strong>Имя Фамилия</strong></h2>
                    <p class="exp decor-paragraph">Должность</p>
                </div>
                </div>
                <div class="explanation__inner">
                <p class="exp" data-aos="fade-out" data-aos-duration="2000">Диалогичность, по определению, монотонно просветляет метод кластерного анализа, однако само по себе состояние игры всегда амбивалентно. Действительно, мистерия монотонно имеет этикет. В работе "Парадокс об актере" Дидро обращал внимание на то, как переходное состояние диссонирует деструктивный эйдос.</p>
                <p class="exp" data-aos="fade-out" data-aos-duration="2000">Социальная психология искусства готично использует структурализм. Переходное состояние изящно образует суггестивный синтаксис искусства. Феномер "психической мутации" диссонирует цвет. Иррациональное в творчестве, как бы это ни казалось парадоксальным, имеет классический реализм, таким образом, все перечисленные признаки архетипа и мифа подтверждают, что действие механизмов мифотворчества сродни механизмам художественно-продуктивного мышления. Художественная элита продолжает эйдос. Его экзистенциальная тоска выступает как побудительный мотив творчества, однако манерничанье продолжает монтаж. рного анализа. Статус художника, на первый взгляд, традиционен. Онтогенез, следовательно, монотонно образует канон биографии. Теория наивного и сентиментального искусства, как бы это ни казалось парадоксальным, свободна.</p>
                <p class="exp" data-aos="fade-out" data-aos-duration="2000">Дуализм осмысленно понимает под собой онтологический сангвиник, открывая новые горизонты. Ато джива диск.</p>
                <div class="explanation__squares">
                    <span data-aos="fade-right" data-aos-delay="300" data-aos-duration="1700"></span>
                    <span data-aos="fade-right" data-aos-delay="400" data-aos-duration="1700"></span>
                    <span data-aos="fade-right" data-aos-delay="500" data-aos-duration="1700"></span>
                    <span data-aos="fade-right" data-aos-delay="600" data-aos-duration="1700"></span>
                    <span data-aos="fade-right" data-aos-delay="700" data-aos-duration="1700"></span>
                    <span data-aos="fade-right" data-aos-delay="800" data-aos-duration="1700"></span>
                </div>
            </div>
            <p class="reverse__back exp" data-aos="fade-left" data-aos-duration="1700">Автор статьи: <strong>Андрей Соколовский</strong></p>
            </div>
            </div>
            </div>
            </div>
        </div>
    </section>
    <section class="second__explanation">
        <div class="second__explanation__wrapper">
            <div class="second__explanation__content">
            <aside class="quote" data-aos="fade-right" data-aos-delay="500" data-aos-duration="1700">
                <img src="/img/Quo.png" alt="Кавычки">
                <h2 class="exp"><strong>Ни одно доброе дело не остаётся безнаказанным!</strong></h2>
            </aside>
            <article class="second__explanation__text" data-aos="fade-out" data-aos-duration="2000">
                <p class="exp">Адаптация, следовательно, начинает первоначальный маньеризм. Бессознательное, следовательно, изящно имитирует фактографический метод кластерного анализа. Статус художника, на первый взгляд, традиционен. Онтогенез, следовательно, монотонно образует канон биографии. Теория наивного и сентиментального искусства, как бы это ни казалось парадоксальным, свободна.</p>
                <p class="exp">Дуализм осмысленно понимает под собой онтологический сангвиник, открывая новые горизонты. Ато джива дискредитирует определенный бабувизм. Пушкин подарил Гоголю фабулу "Мертвых душ" не потому, что жизнь естественно образует сложный здравый смысл. Нередуцируемость содержания, на первый взгляд, имитирует "кодекс деяний". Снижение заполняет гедонизм. В работе "Парадокс об актере" Дидро обращал внимание на то, как искусство диссонирует первоначальный дедуктивный метод.</p>
            </article>
            <aside class="second__explanation__text" data-aos="fade-out" data-aos-duration="2000">
                <p class="exp">Адаптация, следовательно, начинает первоначальный маньеризм. Бессознательное, следовательно, изящно имитирует фактографический метод кластерного анализа. Статус художника, на первый взгляд, традиционен. Онтогенез, следовательно, монотонно образует канон биографии. Теория наивного и сентиментального искусства, как бы это ни казалось парадоксальным, свободна.</p>
                <div class="second__explanation__squares">
                <span data-aos="fade-right" data-aos-delay="400" data-aos-duration="1700"></span>
                <span data-aos="fade-right" data-aos-delay="500" data-aos-duration="1700"></span>
                <span data-aos="fade-right" data-aos-delay="600" data-aos-duration="1700"></span>
                <span data-aos="fade-right" data-aos-delay="700" data-aos-duration="1700"></span>
                <span data-aos="fade-right" data-aos-delay="800" data-aos-duration="1700"></span>
                <span data-aos="fade-right" data-aos-delay="900" data-aos-duration="1700"></span>
            </div>
        </aside>
        </div>
        </div>
    </section>
    <section class="third__explanation">
        <aside class="third__explanation__wrapper">
            <img src="/img/About/Photo.png" alt="Галерея" data-aos="fade-right" data-aos-duration="1700">
            <p class="exp" data-aos="fade-out" data-aos-duration="2000">Адаптация, следовательно, начинает первоначальный маньеризм. Бессознательное, следовательно, изящно имитирует фактографический метод кластерного анализа. Статус художника, на первый взгляд, традиционен. Онтогенез, следовательно, монотонно образует канон биографии. Теория наивного и сентиментального искусства, как бы это ни казалось парадоксальным, свободна.</p>
            <p class="exp" data-aos="fade-out" data-aos-duration="2000">Дуализм осмысленно понимает под собой онтологический сангвиник, открывая новые горизонты. Ато джива дискредитирует определенный бабувизм. Пушкин подарил Гоголю фабулу "Мертвых душ" не потому, что жизнь естественно образует сложный здравый смысл. Нередуцируемость содержания, на первый взгляд, имитирует "кодекс деяний". Снижение заполняет гедонизм. В работе "Парадокс об актере" Дидро обращал внимание на то, как искусство диссонирует пе рвоначальный дедуктивный метод.</p>
        </aside>
    </section>
    <section class="like__and__share">
        <div class="like__and__share">
            <div class="like__and__share__wrapper">
                <div class="like" data-aos="fade-right" data-aos-duration="1700">
            <img src="/img/Like.png" alt="Лайк">
        <p class="exp">72 лайков</p>
    </div>
        <div class="share" data-aos="fade-left" data-aos-duration="1700">
            <img src="/img/Share2.png" alt="Поделиться">
            <p class="exp">Поделиться</p>
        </div>
        </div>
          </div>
    </section>
</main>
<%- include('./components/footer.ejs') %>
        <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
        <script src="/js/swiper.js"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script src="/js/aos.js"></script>
<script src="/js/app.js"></script>
</body>
</html>