<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;500;700;800&family=Montserrat:wght@200;300;400;500;600&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/findus/findus.css">
    <link rel="stylesheet" href="/css/headerandfooter/headerandfooter.css">
    <link rel="stylesheet" href="/css/headerandfooter/headerandfooter-mq.css">
    <title>VFC Urozhay official page | <%= title %></title>
</head>
<body>
    <%- include('./components/header.ejs') %>
    <main>
    <section class="send__posts">
    <div class="post-wrapper">
        <form action="/add-post" method="post" class="post-form" enctype="multipart/form-data">
            <div class="name-and-author">
            <div class="name-of-post">
                <label for="theme" class="name-of-post_name">Клуб:</label>
                <input name="title" id="theme" type="text" class="name-of-post_input" placeholder="Ваш клуб" min="5" max="20" required>
            </div>
            <div class="author-of-post">
                <label for="log" class="author-of-post_author">Ник:</label>
                <input id="log" name="author" type="text" class="author-of-post_input" placeholder="Ваш ник" min="2" max="30" required>
            </div>
        </div>
        <div class="picture">
            <div class="picture-of-post">
                <label for="player" class="name-of-picture">Изображение:</label>
                <input type="file" name="playerImage" class="picture-of-post_input" required>
            </div>
        </div>
            <div class="post-textarea">
                <label for="text">О себе:</label>
                <textarea type="text" name="text" id="text" cols="30" rows="10" min="1" max="355" class="post-textarea_inner" placeholder="Текст" required></textarea>
            </div>
            <div class="button-wrapper">
            <button type="submit" class="send-button">Отправить</button>
        </div>
        </form>
    </section>
</main>
<%- include('./components/footer.ejs') %>
        <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script src="/js/registrationForm.js"></script>
</body>
</html>