<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;500;700;800&family=Montserrat:wght@200;300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/headerandfooter/headerandfooter-mq.css">
    <link rel="stylesheet" href="/css/squad/squad.css">
    <link rel="stylesheet" href="/css/squad/squad-mq.css">
    <title>VFC Urozhay official page | <%= title %></title>
</head>
<body>
    <%- include('./components/header.ejs') %>
    <main>
        <div class="general__wrapper">
    <section class="overall">
        <div class="wrapper__overall">
            <div class="decoration__wrapper">
            <div class="decoration__block"></div>
        
            <div class="content__overall">
        <h2>Lorem ipsum:</h2>
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit</h1>
        <div class="heart__decoration__wrapper">
        <img class="heart__overall" src="/img/c087908eefef80fa467639e3a08addde.png" alt="Лайк"><p>72 Lorem ipsum</p>
    </div>
    </div>
    </div>
</div>
    </section>
    <section class="filler">
        <div class="filler__wrapper">
            <div class="filler__content">
            <article class="filler__desc">
                <p class="art">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto deleniti iure quos? Vitae, quis, laboriosam aut unde dolores tempore earum officiis tenetur porro necessitatibus qui odit voluptate velit molestiae corporis.</p>
                <p class="art">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, repudiandae quis voluptate quos voluptatem quas dolores? Perferendis, ipsam sint! Eius deleniti corrupti dolor iste consectetur odit debitis maxime dolorum ad?
                Deleniti impedit perferendis rerum praesentium similique illum reprehenderit eligendi recusandae, voluptas id odio doloribus quas ducimus alias dicta atque, facilis magni quibusdam earum? Ipsa, sapiente. Eaque hic voluptas libero tempora!</p>
                <p class="art">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et error ea soluta mollitia laboriosam sint praesentium suscipit porro repudiandae placeat, corporis repellendus natus facilis veniam voluptates illum, eveniet obcaecati. Soluta!
                Cum, at expedita illum ea laboriosam repellat officiis itaque maxime ratione dolores nisi sapiente inventore consequatur. Velit iure deserunt quaerat, possimus animi nemo amet quas non maiores officia, veniam perferendis?
                Dignissimos pariatur dolorem deleniti aspernatur rerum optio ipsa quos ullam id alias, aut saepe obcaecati, delectus omnis quam illo impedit quasi quas et quia voluptates tempora officia, architecto quae! Ullam!</p>
            </article>
        </div>
        <p class="filler__author art">Lorem ipsum: <strong>Lorem, ipsum dolor sit</strong></p>
        </div>
        <div class="background__image"><img src="/img/Construction.png" alt=""></div>
    </section>

    <section class="second__filler">
        <div class="second__filler__wrapper">
            <div class="second__filler__content">
            <aside class="quote">
                <img src="/img/Quo.png" alt="Кавычки">
                <h2 class="art"><strong>Lorem ipsum dolor sit amet consectetur.</strong></h2>
            </aside>
            <article class="filler__text">
                <p class="art">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum hic iusto nemo alias nobis. Temporibus maxime delectus numquam commodi dolorem, ipsa ipsum voluptate debitis et nam, consequatur aliquid. Quasi, quod!</p>
                <p class="art">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui rem nobis excepturi harum neque, ducimus quod libero eum deserunt repudiandae? Natus voluptatum iusto officia magnam officiis necessitatibus in. Est, enim!
                Consectetur necessitatibus animi nemo. Saepe provident, optio et debitis facilis, rem eum odio, doloribus culpa necessitatibus veritatis eius harum accusamus incidunt eos pariatur mollitia fugit voluptates aliquid totam animi ipsum.</p>
            </article>
            <div class="filler__text__second">
                <p class="art">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas labore facilis ex sit, natus maxime eligendi suscipit debitis itaque sequi delectus consequuntur libero? Quas expedita, fugiat vero aperiam ipsum commodi!
                Sint corrupti incidunt eveniet voluptatum voluptatem illum quo, adipisci, natus alias ratione dignissimos nihil laudantium aliquam aspernatur non, tempora consequatur nulla excepturi nemo eius hic. Incidunt minus odit vero? Eaque?</p>
                <div class="filler__squares">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        </div>
        </div>
    </section>

    <section class="third__filler">
        <div class="third__filler__wrapper">
        <img src="/img/Pond.png" alt="Пруд">
        <article class="third__filler__text">
        <p class="art">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur id, itaque error mollitia, rem laboriosam deleniti optio accusamus necessitatibus eaque assumenda repellendus explicabo, consectetur autem eum recusandae architecto sit officiis.</p>
        <p class="art">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero totam placeat consequuntur nobis eaque, cupiditate mollitia eius id, iste voluptate incidunt nulla error veniam, aperiam vero accusantium? Aspernatur, neque aut!
        Beatae, quisquam, doloribus officiis veritatis nobis rerum cumque exercitationem alias iusto accusantium recusandae expedita ipsa excepturi laboriosam velit necessitatibus quam eveniet, magnam amet. Quasi sequi consectetur illum soluta aliquam distinctio!
        Mollitia, at! Adipisci, corporis nostrum, tenetur beatae esse ad quaerat, aliquam nemo unde harum voluptate magni velit? Possimus a nihil maiores voluptatum illo libero doloribus quia animi, culpa excepturi! Quaerat.</p>
        <p class="art">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia atque quas minima quibusdam repudiandae! Deleniti atque quod harum nemo consequuntur sed debitis sequi totam sapiente cum, accusamus quis, laborum rem!
        Aspernatur nostrum cumque iste quae error repellat, quidem alias ea pariatur magni molestiae explicabo, amet sequi cupiditate! Dolor fugit debitis possimus! Necessitatibus odio nam explicabo culpa aliquid incidunt reprehenderit ut.</p>
    </article>
    <div class="third__filler__squares">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    </section>

    <section class="gallery">
        <article class="gallery__wrapper">
        <p class="art">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum, id eveniet perferendis assumenda possimus fugiat enim, alias, accusamus reprehenderit neque facilis molestias. Tempore, commodi reiciendis! Alias est blanditiis sunt eligendi.</p>
        <p class="art">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam unde molestiae, provident illo officia soluta eligendi laborum voluptatibus, consectetur impedit cumque sunt sint repellendus nesciunt libero consequatur qui suscipit culpa.
        Obcaecati repudiandae eligendi nihil saepe aliquid excepturi nobis ex assumenda non reiciendis commodi voluptas dignissimos impedit consequuntur corporis aspernatur id, corrupti enim eum tempora optio rerum aperiam ipsa? Earum, laborum!</p>
    </article>
    <div class="swiper gallery__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide image-slide"><img src="/slider-images/Dany.png" alt=""></div>
          <div class="swiper-slide image-slide"><img src="/slider-images/Dany2.png" alt=""></div>
          <div class="swiper-slide image-slide"><img src="/slider-images/TOTS1.png" alt=""></div>
          <div class="swiper-slide image-slide"><img src="/slider-images/Morgoth.png" alt=""></div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
      <div class="swiper gallery__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide image-slide"><img src="/slider-images/Table.png" alt=""></div>
          <div class="swiper-slide image-slide"><img src="/slider-images/Grats2.png" alt=""></div>
          <div class="swiper-slide image-slide"><img src="/slider-images/Urozhay.png" alt=""></div>
          <div class="swiper-slide image-slide"><img src="/slider-images/Grats.png" alt=""></div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </section>
</div>
</main>
<%- include('./components/footer.ejs') %>
<script src="/js/swiper-for-squad.js"></script>
</body>
</html>