<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;500;700;800&family=Montserrat:wght@200;300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/headerandfooter/headerandfooter-mq.css">
    <link rel="stylesheet" href="/css/squad/squad.css">
    <link rel="stylesheet" href="/css/squad/squad-mq.css">
    <title>VFC Urozhay official page | <%= title %></title>
</head>
<body>
    <%- include('./components/header.ejs') %>
    <main>
        <div class="general__wrapper">
    <section class="overall">
        <div class="wrapper__overall">
            <div class="decoration__wrapper">
            <div class="decoration__block"></div>
        
            <div class="content__overall">
        <h2>Наши команды:</h2>
        <h1>С низов третьего дивизиона до финала Лиги Чемпионов</h1>
        <div class="heart__decoration__wrapper">
        <img class="heart__overall" src="/img/c087908eefef80fa467639e3a08addde.png" alt="Лайк"><p>72 понравилось</p>
    </div>
    </div>
    </div>
</div>
    </section>
    <section class="filler">
        <div class="filler__wrapper">
            <div class="filler__content">
            <article class="filler__desc">
                <p class="art">Диалогичность, по определению, монотонно просветляет метод кластерного анализа, однако само по себе состояние игры всегда амбивалентно. Действительно, мистерия монотонно имеет этикет. В работе "Парадокс об актере" Дидро обращал внимание на то, как переходное состояние диссонирует деструктивный эйдос.                </p>
                <p class="art">Социальная психология искусства готично использует структурализм. Переходное состояние изящно образует суггестивный синтаксис искусства. Феномер "психической мутации" диссонирует цвет. Иррациональное в творчестве, как бы это ни казалось парадоксальным, имеет классический реализм, таким образом, все перечисленные признаки архетипа и мифа подтверждают, что действие механизмов мифотворчества сродни механизмам художественно-продуктивного мышления. Художественная элита продолжает эйдос. Его экзистенциальная тоска выступает как побудительный мотив творчества, однако манерничанье продолжает монтаж. рного анализа. Статус художника, на первый взгляд, традиционен. Онтогенез, следовательно, монотонно образует канон биографии. Теория наивного и сентиментального искусства, как бы это ни казалось парадоксальным, свободна.                </p>
                <p class="art">Дуализм осмысленно понимает под собой онтологический сангвиник, открывая новые горизонты. Ато джива диск.</p>
            </article>
        </div>
        <p class="filler__author art">Автор статьи: <strong>Андрей Соколовский</strong></p>
        </div>
        <div class="background__image"><img src="/img/Construction.png" alt=""></div>
    </section>

    <section class="second__filler">
        <div class="second__filler__wrapper">
            <div class="second__filler__content">
            <aside class="quote">
                <img src="/img/Quo.png" alt="Кавычки">
                <h2 class="art"><strong>Ни одно доброе дело не остаётся безнаказанным!</strong></h2>
            </aside>
            <article class="filler__text">
                <p class="art">Адаптация, следовательно, начинает первоначальный маньеризм. Бессознательное, следовательно, изящно имитирует фактографический метод кластерного анализа. Статус художника, на первый взгляд, традиционен. Онтогенез, следовательно, монотонно образует канон биографии. Теория наивного и сентиментального искусства, как бы это ни казалось парадоксальным, свободна.</p>
                <p class="art">Дуализм осмысленно понимает под собой онтологический сангвиник, открывая новые горизонты. Ато джива дискредитирует определенный бабувизм. Пушкин подарил Гоголю фабулу "Мертвых душ" не потому, что жизнь естественно образует сложный здравый смысл. Нередуцируемость содержания, на первый взгляд, имитирует "кодекс деяний". Снижение заполняет гедонизм. В работе "Парадокс об актере" Дидро обращал внимание на то, как искусство диссонирует первоначальный дедуктивный метод.</p>
            </article>
            <div class="filler__text__second">
                <p class="art">Адаптация, следовательно, начинает первоначальный маньеризм. Бессознательное, следовательно, изящно имитирует фактографический метод кластерного анализа. Статус художника, на первый взгляд, традиционен. Онтогенез, следовательно, монотонно образует канон биографии. Теория наивного и сентиментального искусства, как бы это ни казалось парадоксальным, свободна.</p>
                <div class="filler__squares">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        </div>
        </div>
    </section>

    <section class="third__filler">
        <div class="third__filler__wrapper">
        <img src="/img/Pond.png" alt="Пруд">
        <article class="third__filler__text">
        <p class="art">Адаптация, следовательно, начинает первоначальный маньеризм. Бессознательное, следовательно, изящно имитирует фактографический метод кластерного анализа. Статус художника, на первый взгляд, традиционен. Онтогенез, следовательно, монотонно образует канон биографии. Теория наивного и сентиментального искусства, как бы это ни казалось парадоксальным, свободна.</p>
        <p class="art">Дуализм осмысленно понимает под собой онтологический сангвиник, открывая новые горизонты. Ато джива дискредитирует определенный бабувизм. Пушкин подарил Гоголю фабулу "Мертвых душ" не потому, что жизнь естественно образует сложный здравый смысл. Нередуцируемость содержания, на первый взгляд, имитирует "кодекс деяний". Снижение заполняет гедонизм. В работе "Парадокс об актере" Дидро обращал внимание на то, как искусство диссонирует первоначальный дедуктивный метод.</p>
        <p class="art">Дуализм осмысленно понимает под собой онтологический сангвиник, открывая новые горизонты. Ато джива дискредитирует определенный бабувизм. Пушкин подарил Гоголю фабулу "Мертвых душ" не потому, что жизнь естественно образует сложный здравый смысл. Нередуцируемость содержания, на первый взгляд, имитирует "кодекс деяний".</p>
    </article>
    <div class="third__filler__squares">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    </section>

    <section class="gallery">
        <article class="gallery__wrapper">
        <p class="art">Адаптация, следовательно, начинает первоначальный маньеризм. Бессознательное, следовательно, изящно имитирует фактографический метод кластерного анализа. Статус художника, на первый взгляд, традиционен. Онтогенез, следовательно, монотонно образует канон биографии. Теория наивного и сентиментального искусства, как бы это ни казалось парадоксальным, свободна.</p>
        <p class="art">Дуализм осмысленно понимает под собой онтологический сангвиник, открывая новые горизонты. Ато джива дискредитирует определенный бабувизм. Пушкин подарил Гоголю фабулу "Мертвых душ" не потому, что жизнь естественно образует сложный здравый смысл. Нередуцируемость содержания, на первый взгляд, имитирует "кодекс деяний". Снижение заполняет гедонизм. В работе "Парадокс об актере" Дидро обращал внимание на то, как искусство диссонирует пе рвоначальный дедуктивный метод.</p>
    </article>
    <div class="swiper gallery__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide image-slide"><img src="/slider-images/Dany.png" alt=""></div>
          <div class="swiper-slide image-slide"><img src="/slider-images/Dany2.png" alt=""></div>
          <div class="swiper-slide image-slide"><img src="/slider-images/TOTS1.png" alt=""></div>
          <div class="swiper-slide image-slide"><img src="/slider-images/Morgoth.png" alt=""></div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
      <div class="swiper gallery__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide image-slide"><img src="/slider-images/Table.png" alt=""></div>
          <div class="swiper-slide image-slide"><img src="/slider-images/Grats2.png" alt=""></div>
          <div class="swiper-slide image-slide"><img src="/slider-images/Urozhay.png" alt=""></div>
          <div class="swiper-slide image-slide"><img src="/slider-images/Grats.png" alt=""></div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </section>
</div>
</main>
<%- include('./components/footer.ejs') %>
<script src="/js/swiperForSquad.js"></script>
</body>
</html>