<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="msapplication-TileColor" content="#4b9834">
    <meta name="theme-color" content="#4b9834">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;500;700;800&family=Montserrat:wght@200;300;400;500;600&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon//favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon//favicon-16x16.png">
    <link rel="manifest" href="favicon//site.webmanifest">
    <link rel="mask-icon" href="favicon//safari-pinned-tab.svg" color="#4b9834">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/index/index-mq.css">
    <title>VFC Urozhay official page | <%= title %></title>
</head>
<body>
    <%- include('./components/header.ejs') %>
    <main class="description__content">
        <div class="general__wrapper">
    </div>
    <section class="description__section">
        <div class="modal__window">
            <div class="modal__overlay">
                <div class="modal">
                    <form action="" name="" method="post" enctype="text/plain" class="form__main">
                        <label for="username" class="label__main-first">Логин:</label>
                        <input type="text" name="username" id="username" class="username__main" required>
                        <label for="password" class="label__main-second">Пароль:</label>
                        <input type="password" name="password" id="password" class="password__main" required>
                        <button type="submit" class="form__submit">Войти</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="wrapper"> 
        <div class="thebestclub" data-aos="fade-right" data-aos-duration="2500">
            <h2 data-aos="fade-right" data-aos-duration="1500">Пожалуй, лучший клуб</h2>
        <h1><strong>Планеты<br/> Земля</strong></h1></div>
        <div class="button__container" data-aos="fade-left" data-aos-duration="2500"><button class="btn btn__description">Узнать</button>
        </div>
        <div class="content__container" data-aos="fade-left" data-aos-duration="2500">
        <div class="description">Прикоснитесь к прекрасному — познакомьтесь поближе с нашей командой</div>
        </div>
</div>
</section>
<section class="slider__section">
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide image-slide"><img src="/slider-images/BestAssistant.png" alt=""></div>
          <div class="swiper-slide image-slide"><img src="/slider-images/DanymilianoSecondDivision.jpg" alt=""></div>
          <div class="swiper-slide image-slide"><img src="/slider-images/SecondDivisionBestTeam.jpg" alt=""></div>
          <div class="swiper-slide image-slide"><img src="/slider-images/UrozhaySquad.png" alt=""></div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide image-slide"><img src="/slider-images/BestAssistant.png" alt=""></div>
          <div class="swiper-slide image-slide"><img src="/slider-images/DanymilianoSecondDivision.jpg" alt=""></div>
          <div class="swiper-slide image-slide"><img src="/slider-images/SecondDivisionBestTeam.jpg" alt=""></div>
          <div class="swiper-slide image-slide"><img src="/slider-images/UrozhaySquad.png" alt=""></div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
</section>   
<section class="about__club">
    <div class="about__wrapper">
    <header class="about__header"><h1 data-aos="fade-right" data-aos-duration="2500">Богатое<br/>наследие</h1></header> 
    <p class="about__description" data-aos="fade-right" data-aos-duration="1500">Решение о смене названия Wolverines было принято в сентябре 2018 года. Оно озноменовало новую эру — рождение Урожая. Клуб за свою историю повидал многое, через команду прошло огромное количество ярких личностей, оставивших
        свой незаменимый след не только в командных результатах, но ещё и во всём целом сообществе. По сей день эти культивированные таланты бороздят просторы коммьюнити в поисках нового пристанища для себя.
    </p>
    <div class="about__squares">
        <div class="about__squares-left">
            <span data-aos="fade-right" data-aos-delay="100" data-aos-duration="1300"></span>
            <span data-aos="fade-right" data-aos-delay="200" data-aos-duration="1400"></span>
            <span data-aos="fade-right" data-aos-delay="300" data-aos-duration="1500"></span>
            <span data-aos="fade-right" data-aos-delay="400" data-aos-duration="1600"></span>
            <span data-aos="fade-right" data-aos-delay="500" data-aos-duration="1700"></span>
            <span data-aos="fade-right" data-aos-delay="600" data-aos-duration="1800"></span>
        </div>
        <div class="about__squares-right">
            <span data-aos="fade-left" data-aos-delay="300" data-aos-duration="1500"></span>
            <span data-aos="fade-left" data-aos-delay="400" data-aos-duration="1500"></span>
            <span data-aos="fade-left" data-aos-delay="500" data-aos-duration="1500"></span>
        </div>
    </div>  
    <a href="/pages/squad.html" class="btn button__about" data-aos="fade-up" data-aos-duration="1500">Читать</a>
</div>
</section>
<section class="captain__says">
    <div class="captain__says-wrapper">
    <div class="captain__says-content">
        <h1 class="reverse__text">В этом сезоне</h1>
        <article class="captain__says-inner">
        <p class="captain__says-header" data-aos="fade-right" data-aos-duration="2000">Капитан рассказывает:</p>
        <h2 data-aos="fade-right" data-aos-duration="1700">Об итогах 25-го сезона во Втором дивизионе</h2>
        <p class="captain__says-footer" data-aos="fade-right" data-aos-duration="2000">
        Сезон вышел очень интересным, было множество ярких и запоминающихся матчей, каждый соперник бился до самой последней секунды. Мы получили не только множество эмоций, но и бесценный опыт. Ошибки или недочеты, которые совершили по ходу сезона, послужат нам бесценным опытом. Огромная благодарность не только игрокам команды Урожай, но и всем тем кто поддерживает честную игру.
        </p>
        <div class="captain__says-description">
            <img class="" src="/img/Difrostt.png" alt="Капитан" data-aos="fade-left" data-aos-delay="500" data-aos-duration="2000">
            <div class="captain__says-text" data-aos="fade-left" data-aos-delay="500" data-aos-duration="3000">
            <p>Капитан</p>
            <h2>Дмитрий<br/>«Difrostt»</h2>
        </div>
        </div>
        <a href="/pages/about.html" class="btn button__captain" data-aos="fade-up" data-aos-duration="1500">Читать</a>
    </article>
    </div>
</div>
</section>
</main>
    <%- include('./components/footer.ejs') %>
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<script src="/js/swiper.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="/js/aos.js"></script>
<script src="/js/app.js"></script>
</body>
</html>