/* Первый блок */

.general__wrapper {
    max-width: 100%;
}

.wrapper__overall {
    margin: 0 auto;
    width: 70%;
}

.content__overall {
    display: flex;
    flex-direction: column;
    padding-left: 66px; 
    padding-top: 20px; 
}

.content__overall > h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 35px;
    max-width: 700px;
    padding-bottom: 5px;
}

.content__overall > h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 35px;
    max-width: 500px;
}

.decoration__wrapper {
    display: flex;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 150px;
}

.decoration__block {
    display: block;
    height: 260px;
    width: 63px;
    border: 8px solid var(--mainColor);
}

.heart__decoration__wrapper {
    display: flex;
    padding-top: 35px;
}

.heart__decoration__wrapper > p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: var(--mainColor);
}

.heart__decoration__wrapper > .heart__overall {
    width: 3.5%;
    height: 10.5%;
    margin-right: 10px;
}

.decoration__block, h2, h1 {
    color: var(--mainColor);
}

/* Филлер */

.filler__wrapper {
    display: flex;
    margin: 0 auto;
    max-width: 85%;
}

.filler__desc {
    display: flex;
    flex-direction: column;
}

.filler__author {
    writing-mode: vertical-lr;
    font-size: 20px;
    padding-left: 80px;
}

.filler__desc, .art {
    color: var(--mainColor);
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    padding-bottom: 40px;
}

.background__image {
    display: flex;
    margin: 0 auto;
    max-width: 85%;
}

.background__image img {
    width: 100%;
}

/* Второй филлер */

.second__filler__wrapper {
    display: flex;
    margin: 0 auto;
    max-width: 85%;
}

.second__filler__content {
    display: flex;
    margin-top: 50px;
}

.filler__text {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.filler__squares {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 30px;
}

.filler__squares span {
    display: flex;
    width: 15px;
    height: 15px;
    margin-left: 15px;
    background-color: var(--mainColor);
}

.quote {
    text-align: center;
    max-width: 30%;
    margin-right: 80px;
    margin-top: 100px;
}

.quote p {
    font-weight: 600;
    font-size: 40px;
}

.quote img {
    width: 35%;
}

.filler__squares span:first-child {
    margin-left: 0;
}

/* Третья секция с филлером */

.third__filler__wrapper {
    display: flex;
    margin: 0 auto;
    max-width: 85%;
}

.third__filler__text {
    margin-left: 50px;
    max-width: 50%;
}

.third__filler__text p {
    margin-top: 20px;
}

.third__filler__wrapper img {
    max-width: 50%;
}

.third__filler__squares {
    display: none;
}

.up {
    display: none;
}

/* Галерея */

.gallery {
    margin-top: 50px;
}

.gallery__wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 85%;
}


/* Лайк и поделиться  */

.link__and__share {
    display: flex;
    margin: 0 auto;
    align-items: center;
}

.like__and__share__wrapper {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    max-width: 85%;
    align-items: center;
    justify-content: space-around;
}

.like__and__share__wrapper img {
    margin-right: 50px;
    margin-bottom: 35px;
}

.like {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.share {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
