@media (max-width: 1440px) {

    .second__filler__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .quote {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 100%;
        max-width: 100%;
        margin-right: 0px;
        margin-top: 20px;
    }

    .quote img {
        text-align: center;
        margin: 0 auto;
        width: 65px;
    }

    .quote > h2 {
        text-align: center;
        font-size: 26px;
        margin-top: 20px;
        padding-bottom: 20px;
    }

    .third__filler__wrapper {
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }

    .third__filler__wrapper img {
        width: 400px;
        height: 500px;
        margin: 0 auto;
    }

    .third__filler__text {
        margin: 0;
        max-width: 100%;
    }

    .third__filler__squares {
        display: block;
    }
}