/* Секция с первым игроком */

.general__wrapper {
    width: 65%;
}

.first__player {
    display: flex;
    background: url(/img/Background3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
}

.first__player__wrapper {
    display: flex;
    margin: 0 auto;
    padding: 40px 0px 40px 0;
    width: 100%;
}

.first__player__content {
    display: flex;
    padding: 30px 0 0 30px;
    color: var(--mainColor);
}

.first__player-inner {
    display: flex;
    flex-direction: column;
}

.first__player-inner h2 {
    font-size: 52px;
    max-width: 600px;
}

.first__player-inner {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.first__player-header {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 17px;
    padding-bottom: 5px;
    opacity: 0.85;
}

.first__player-footer {
    font-weight: 300;
    font-size: 33px;
    opacity: 0.85;
    padding-top: 10px;
    max-width: 100%;
}

.fpreverse__text {
    writing-mode: vertical-lr;
    display: flex;
    font-size: 96px;
    min-height: max-content;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}

.first__player-description img {
    min-width: 18vw;
    min-height: 50vh;
}

.first__player-description {
    margin: 110px 20px 0 10px;
}

.first__player-text {
    color: var(--mainColor);
}

.first__player-text > p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 17px;
    padding-bottom: 5px;
    opacity: 0.85;
}

.first__player-text > h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 37px;
}

/* Секция со вторым игроком */

.second__player__wrapper {
    display: flex;
    max-width: 100%;
    margin: 30px 0px 30px 0px;

}

.second__player__content {
    display: flex;
    color: var(--mainColor);
    max-height: 87%;
    margin-left: 700px;
}

.second__player-inner {
    display: flex;
    flex-direction: column;
    align-items: right;
}

.second__player-inner h2 {
    font-size: 52px;
    max-width: 700px;
}

.second__player-inner {
    display: flex;
    flex-direction: column;
}

.second__player-header {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 17px;
    padding-bottom: 5px;
    opacity: 0.85;
}

.second__player-footer {
    font-weight: 300;
    font-size: 33px;
    opacity: 0.85;
    padding-top: 10px;
    max-width: 1100px;
}

.second__player-description img {
    max-width: 60%;
    margin-top: 50px;
    overflow-x: hidden;
}

.second__player-card {
    position: absolute;
    left: 5%;
}

.second__player-description {
    display: flex;
    flex-direction: row;
    color: var(--mainColor);
}

.second__player-text {
    margin-top: 530px;
    margin-left: 30px;
}

.second__player-text > p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 17px;
    padding-bottom: 5px;
    opacity: 0.85;
}

.second__player-text > h2 {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 37px;
}

/* Заголовок */

.wrapper__overall {
    margin: 0 auto;
    width: 70%;
}

.content__overall {
    display: flex;
    flex-direction: column;
    padding-left: 66px; 
    padding-top: 20px; 
}

.content__overall > h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 35px;
    max-width: 700px;
    padding-bottom: 5px;
}

.content__overall > h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 35px;
    max-width: 500px;
}

.decoration__wrapper {
    display: flex;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 150px;
}

.decoration__block {
    display: block;
    height: 260px;
    width: 63px;
    border: 8px solid var(--mainColor);
}

.heart__decoration__wrapper {
    display: flex;
    padding-top: 35px;
}

.heart__decoration__wrapper > p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: var(--mainColor);
}

.heart__decoration__wrapper > .heart__overall {
    width: 3.5%;
    height: 10.5%;
    margin-right: 10px;
}

.decoration__block, h2, h1 {
    color: var(--mainColor);
}

.overall {
    margin-bottom: 300px;
}

/* Описание */

.explanation__wrapper {
    margin: 0 auto;
    width: 85%;
}

.exp {
    color: var(--mainColor);
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin-top: 40px;
}

.explanation__content {
    display: flex;
}

.decoration img {
    position: absolute;
    bottom: 30%;
    right: 5%;
    z-index: 1;
    width: 110%;
    height: 160%;
}

.reverse__back {
    writing-mode: vertical-rl;
    text-align: center;
    margin-left: 80px;
    font-size: 16px;
}

.decoration {
    position: relative;
    bottom: -50%;
    display: flex;
    flex-direction: column-reverse;
    height: 500px;
    min-width: 30%;
    margin-top: 355px;
    z-index: -1;
    border: 8px solid var(--mainColor);
    margin-right: 50px;
}

.decoration p {
    margin: 0;
    text-align: center;
}

.decoration__text > p:first-child {
    padding-bottom: 20px;
    font-size: 32px;
}

.decoration__text > p:last-child {
    padding-bottom: 40px;
    font-size: 21px;
}

.explanation__squares {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 30px;
}

.explanation__squares span {
    display: flex;
    width: 15px;
    height: 15px;
    margin-left: 15px;
    background-color: var(--mainColor);
}

.explanation__squares span:first-child {
    margin-left: 0;
}

/* Текст с кавычками */

.second__explanation__wrapper {
    display: flex;
    margin: 0 auto;
    max-width: 85%;
}

.second__explanation__content {
    display: flex;
    margin-top: 50px;
}

.second__explanation__text {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.second__explanation__squares {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 30px;
}

.second__explanation__squares span {
    display: flex;
    width: 15px;
    height: 15px;
    margin-left: 15px;
    background-color: var(--mainColor);
}

.quote {
    text-align: center;
    max-width: 30%;
    margin-right: 80px;
    margin-top: 100px;
}

.quote p {
    font-weight: 600;
    font-size: 40px;
}

.quote img {
    width: 35%;
}

.second__explanation__squares span:first-child {
    margin-left: 0;
}

/* Текст и фото галереи */

.third__explanation {
    margin-top: 50px;
}

.third__explanation__wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 85%;
}

/* Лайк и поделиться */

.link__and__share {
    display: flex;
    margin: 0 auto;
    align-items: center;
}

.like__and__share__wrapper {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    max-width: 85%;
    align-items: center;
    justify-content: space-around;
}

.like__and__share__wrapper img {
    margin-right: 20px;
    margin-top: 35px;
}

.like {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.share {
    display: flex;
    justify-content: space-between;
    align-items: center;
}